.container-timer {
  width: 200px;
  margin-top: 30px;
  margin: auto;
}
.circle {
  margin-top: 20px;
  margin-bottom: 20px;
  position: relative;
  width: 200px;
  height: 200px;
  background: white;
  -moz-border-radius: 100px;
  -webkit-border-radius: 100px;
  border-radius: 100px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}
.counter-timer {
  margin-left: 35px;
  margin-top: 85px;
  position: absolute;
  font-size: 30px;
  color: #00b4b4;
}
.margin-input {
  margin-left: 15px;
}

.popup {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup-inner {
  position: absolute;
  left: 20%;
  right: 20%;
  top: 30%;
  bottom: 40%;
  margin: auto;
  background: white;
  padding: 5px;
}
.popup-btn {
  padding: 0;
  border: none;
  font: inherit;
  color: #3f51b5;
  font-size: 20px;
  background-color: transparent;
  margin-top: 2%;
  margin-left: 85%;
  text-transform: uppercase;
  cursor: pointer;
}
